#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#google-logo {
    position: absolute;
    margin-top: 13%;
    width: 20%;
    height: auto;
}

#search-bar {
    position: absolute;
    margin-top: 22%;
    width: 40%;
}