html, body {
    color: #222;
    font-size: 14px; 
    font-family: arial, sans-serif; 
}

/* Top of page - navbar */

#navbar {
    padding-top: 5px;
    overflow: hidden;
}

#navbar a {
    text-decoration: none;
    text-align: center;
    margin: 0;
}

.nav-elem {
    padding: 5px;
}

#left-navbar {
    float: left;
    padding-top: 9px;
    margin-left: 15px;
}

#right-navbar {
    float: right;
}

a, a:visited {
    color: inherit;
}

button {
    font-size: 14px; 
    font-family: arial, sans-serif; 
}

#sign-in-button {
    padding: 9px 26px;
    border: 1px solid transparent;
    color: white;
    background: #1a73e8;
    border-radius: 5px;
    margin-right: 8px;
}

#nav-icon {
    padding-right: 22px;
    padding-left: 20px;
}

#nav-icon-img {
    position: relative;
    top: 7px;
}

/* Middle of page - Google logo, search bar, two middle buttons */

#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#google-logo {
    position: relative;
    margin-top: 140px;
}

#search-bar-div {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    width: 100%;
}

#search-bar {
    position: relative;
    width: 540px;
    padding: 15px 10px 15px 50px;
    font-size: 14px;
    border-radius: 50px;
    border-style: solid;
    border-width: thin;
    border-color: #dbdada;
    outline: none;
    resize: none;
    background-image: url("search-icon.svg"), url("mic-icon.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 2% 50%, 98% 50%;
}

#mid-buttons {
    padding-top: 7px;
}

#mid-buttons button {
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 9px 16px;
    background-color: #f8f9fa;
}

#google-search {
    display: inline;
    margin-right: 4px;
}

#feeling-lucky {
    display: inline;
    margin-left: 4px;
}

/* Bottom of page - footer */

#canada-footer {
    color: #70757a;
    background-color: #f8f9fa;
    position: absolute;
    display: block;
    border-bottom: 1px solid #d2d5d8;
    width: 100%;
    height: 48px;
    left: 0;
    bottom: 46px;
}

#canada {
    font-size: 15px;
    padding: 15px 30px;
}

#footer {
    color: #70757a;
    background-color: #f8f9fa;
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 500px;
}

/* When footer wraps, center each part of the footer */
@media only screen and (max-width: 597.41px) {
    #footer {
        justify-content: space-evenly;
    }

    #canada-footer {
        bottom: 94px;
    }
}

#footer a {
    text-decoration: none;
    text-align: center;
}

#left-footer {
    display: flex;
    padding-left: 20px;
}

#right-footer {
    display: flex;
    padding-right: 20px;
}

.footer-item {
    padding: 15px;
}

/* TODO
 - add "google offered in français" should i even add this?
 - position middle parts
 - add underline for anchor when mouse hover
 - hover effect for google apps icon
 - hover effects for 3 buttons
 - hover effect for search bar
 - mouse over cursor effect?
*/