html, body {
    color: #222;
    font-size: 14px; 
    font-family: arial, sans-serif; 
    /* height: 100%; */
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a, a:visited {
    color: inherit;
}

#google-logo {
    position: relative;
    margin-top: 140px;
}

.search-bar-div {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    min-width: 380px;
}

#search-bar {
    position: relative;
    width: 582px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-radius: 50px;
    border-style: solid;
    border-color: darkgrey;
    outline: none;
    resize: none;
    background-image: url("search-icon.svg"), url("mic-icon.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 2% 50%, 98% 50%;
}

.mid-buttons {
    padding-top: 13px;
}

.mid-buttons button {
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 9px 16px;
    background-color: #f8f9fa;
}

#google-search {
    display: inline;
    margin-right: 4px;
}

#feeling-lucky {
    display: inline;
    margin-left: 4px;
}

.navbar {
    padding-top: 10px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    margin: 0;
}

.left-navbar {
    float: left;
}

.right-navbar {
    float: right;
}

.footer {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    /* padding-bottom: 14px; */
    left: 0;
}

.footer a {
    /* position: relative; */
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

.left-footer {
    background-color: #f8f9fa;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.right-footer {
    background-color: #f8f9fa;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}

button {
    font-size: 14px; 
    font-family: arial, sans-serif; 
}